* {
  box-sizing: border-box;
}

ul, li, a {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p  {
    margin: 0;
}

button {
    cursor: pointer;
}