:root {
    --text-header-main: #FFFFFF;
    --button-text-color: #26C6EA;
    --phrase-color: #0A3853;
    --name: #000000;
    --text-language-phrase: #141414;
    --hover-header:#94CFFF;
    --gradient: #2B4A61;
    --btn-background: #0B0E66;
    --border-btn: #26C7EA;

}

body {
    font-family: "Inter", sans-serif;
}

.container {
    width: 1032px;
    padding: 0 12px;
    margin: 0 auto
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 168px;
}

.header {
    padding-left: 204px;
    padding-right: 1150px;
}

.header-logo {
   padding-top: 39px;
   padding-bottom: 39px;
}

.hero-text {
    margin-bottom: 35px;
}

.nav-list {
    display: flex;
    gap: 38px;
}


.nav-link {
    font-size: 20px;
    font-weight: 300;
    width: 78px;
    height: 24px;
    color: var(--text-header-main);
    
    
}

.header-btn {
     font-family: "Headland One", serif;
     font-weight: 400;
     font-size: 20px;
     width: 141px;
     height: 41.69px;
     border-radius: 35px 0;
border: 2px solid var(--border-btn);
background: var(--btn-background);
color: var(--button-text-color);
}

.hero-text {
    font-weight: 400;
    font-size: 20px;
    width: 376px;
    height: 123px;
    
}

.hero-btn {
     font-family: "Headland One", serif;
    font-weight: 400;
    font-size: 24px;
    width: 260px;
height: 80px;
border-radius: 45px 0;
border: 3px solid var(--border-btn);
background: var(--btn-background);
color: var(--button-text-color);
margin-top: 42px ;
}



.quote {
    background-color: var(--text-header-main);
   padding-top: 76px;
   padding-bottom: 10px;
}

.quote::after {
content: "";
display: block;
width: 400px;
height: 120px;
background-image: url("../img/birdarrow.png");
background-repeat: no-repeat;
background-position: center;
background-size: contain;
margin: 0 auto;

}


.quote-title {
   text-align: center;
   margin: 0 auto;
    font-weight: 400;
    font-size: 36px;
    width: 724px;
    height: 44px;
    color: var(--phrase-color);
    padding-bottom: 8px;
}

.quote-title-down {
    font-weight: 400;
    font-size: 36px;
    width: 1002px;
    height: 44px;
     color: var(--phrase-color);
     text-align: center;
     margin-bottom:16px;
     
}

.quote-text {
    font-weight: 400;
    font-size: 24px;
    width: 151px;
    height: 29px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8px;
    
}

.trailer-btn {
     font-family: "Headland One", serif;
     font-weight: 400;
     font-size: 24px;
     border-radius: 45px 0;
     border: 3px solid var(--border-btn);
background: var(--btn-background);
color: var(--button-text-color); 
  width: 260px;
    height: 80px;
}

.quote-second-title {
    font-weight: 400;
    font-size: 36px;
    width: 886px;
    height: 44px;
}

.language {
    background-image: url("../img/world.jpg");
    height: 704px;
    background-size: cover;
}


.quote-second-text {
   font-weight: 400;
    font-size: 24px;
width: 151px;
height: 29px;
}

.language-title {
     font-family: "Headland One", serif;
    font-weight: 400;
    font-size: 32px;
    width: 285px;
    height: 40px;
}

.language-item {
    font-weight: 400;
    font-size: 24px;
    width: 80px;
    height: 24px;
}

.quote-third-title {
    font-weight: 400;
    font-size: 36px;
    width: 938px;
    height: 92px;
}

.quote-third-text {
 font-weight: 400;
    font-size: 24px;
}

.footer-item {
    font-weight: 400;
    font-size: 20px;
}


.hero {
    background-image: url("../img/boyavatar.jpg");
    height: 740px;
    background-size: cover;
    padding: 186px 857px 178px 207px ;
}

.trailer {
    background-image: url("../img/girlavatar.jpg");
    height: 740px;
    background-size: cover;
}

.header {
    background-image: linear-gradient(#2b4a61de,#2b4a61de),url("../img/part.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}