:root {
    --text-header-main: #FFFFFF;
    --button-text-color: #26C6EA;
    --phrase-color: #0A3853;
    --name: #000000;
    --text-language-phrase: #141414;
    --hover-header:#94CFFF;
    --gradient: #2B4A61;
}

.body {
    font-family: "Inter", sans-serif;
}

/* .container {
    width: 1031px;
    margin: 0 auto;
    padding: 0 12px;
} */

.nav-item {
    font-size: 20px;
    font-weight: 300;
}

.nav-btn {
     font-weight: 400;
     font-size: 20px;
}

.hero-text {
    font-weight: 400;
    font-size: 20px;
}

.hero-btn {
    font-weight: 400;
    font-size: 24px;
}























.hero {
    background-image: url("../img/boyavatar.jpg");
    width: 1440px;
    height: 740px;
}

.trailer {
    background-image: url("../img/girlavatar.jpg");
    width: 1440px;
    height: 740px;
}

.header {
    background-image: linear-gradient(#2b4a61de),url("../img/part.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
     width: 1440px;
    height: 150px;
}