:root {
    --text-header-main: #FFFFFF;
    --button-text-color: #26C6EA;
    --phrase-color: #0A3853;
    --name: #000000;
    --text-language-phrase: #141414;
    --hover-header:#94CFFF;
    --gradient: #2B4A61;
    --btn-background: #0B0E66;
    --border-btn: #26C7EA;

}

.body {
    font-family: "Inter", sans-serif;
}

.container {
    width: 1032px;
    padding: 0 12px;
    margin: 0 auto
}

.header .container {
    display: flex;
   align-items: center;
   justify-content: space-between;
}



.nav-item {
    font-size: 20px;
    font-weight: 300;
    width: 82px;
    height: 24px;
    display: flex;
    gap: 38px;
}

.nav-btn {
     font-family: "Headland One", serif;
     font-weight: 400;
     font-size: 20px;
     width: 141px;
     height: 41.69px;
     border-radius: 35px 0;
border: 2px solid var(--border-btn);
background: var(--btn-background);
color: var(--button-text-color);
}

.hero-text {
    font-weight: 400;
    font-size: 20px;
    width: 298px;
    height: 96px;
}

.hero-btn {
     font-family: "Headland One", serif;
     font-style: normal;
     line-height: normal;
    font-weight: 400;
    font-size: 24px;
    width: 260px;
height: 80px;
border-radius: 45px 0;
border: 3px solid var(--border-btn);
background: var(--btn-background);
color: var(--button-text-color);
}

.quote-title {
    font-weight: 400;
    font-size: 36px;
    width: 724px;
    height: 44px;
}

.quote-text {
    font-weight: 400;
    font-size: 24px;
    width: 151px;
    height: 29px;
}

.trailer-btn {
     font-family: "Headland One", serif;
     font-weight: 400;
     font-size: 24px;
     border-radius: 45px 0;
     border: 3px solid var(--border-btn);
background: var(--btn-background);
color: var(--button-text-color); 
  width: 260px;
    height: 80px;
}

.quote-second-title {
    font-weight: 400;
    font-size: 36px;
    width: 886px;
    height: 44px;
}

.language {
    background-image: url("../img/world.jpg");
    width: 1440px;
    height: 704px;
}


.quote-second-text {
   font-weight: 400;
    font-size: 24px;
width: 151px;
height: 29px;
}

.language-title {
     font-family: "Headland One", serif;
    font-weight: 400;
    font-size: 32px;
    width: 285px;
    height: 40px;
}

.language-item {
    font-weight: 400;
    font-size: 24px;
    width: 80px;
    height: 24px;
}

.quote-third-title {
    font-weight: 400;
    font-size: 36px;
    width: 938px;
    height: 92px;
}

.quote-third-text {
 font-weight: 400;
    font-size: 24px;
}

.footer-item {
    font-weight: 400;
    font-size: 20px;
}


.hero {
    background-image: url("../img/boyavatar.jpg");
    width: 1440px;
    height: 740px;
}

.trailer {
    background-image: url("../img/girlavatar.jpg");
    width: 1440px;
    height: 740px;
}

.header {
    background-image: linear-gradient(#2b4a61de,#2b4a61de),url("../img/part.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
     width: 1440px;
    height: 150px;
}