:root {
  --text-header-main: #ffffff;
  --button-text-color: #26c6ea;
  --phrase-color: #0a3853;
  --name: #000000;
  --text-language-phrase: #141414;
  --hover-header: #94cfff;
  --gradient: #2b4a61;
  --btn-background: #0b0e66;
  --border-btn: #26c7ea;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 1032px;
  padding: 0 12px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-logo {
  padding-top: 39px;
  padding-bottom: 39px;
  padding-right: 168px;
}

.nav-list {
  display: flex;
  gap: 38px;
}

.header-actions {
  margin-left: 212px;
  margin-right: 49px;
}

.switch {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 20px ;
  color: var(--text-header-main);
}

.hero-list {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}


.nav-link-active {
  font-size: 20px;
  font-weight: 600;
  width: 82px;
  height: 24px;
  color: var(--hover-header);
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  width: 78px;
  height: 24px;
  color: var(--text-header-main);
  display: flex;
  flex-wrap: nowrap;
}

.header-btn {
  font-family: "Headland One", serif;
  font-weight: 400;
  font-size: 20px;
  width: 141px;
  height: 41.69px;
  border-radius: 35px 0;
  border: 2px solid var(--border-btn);
  background: var(--btn-background);
  color: var(--button-text-color);
}

.hero-text {
  font-weight: 400;
  font-size: 20px;
  width: 298px;
  color: var(--text-header-main);
}

.hero-text-second {
  font-weight: 400;
  font-size: 20px;
  width: 376px;
  color: var(--text-header-main);
  margin-bottom: 42px;
}

.hero-text::after {
  content: "";
  background-image: url("../img/arrow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 152px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.hero-link {
  width: 30px;
  height: 30px;

}
.hero-btn {
  font-family: "Headland One", serif;
  font-weight: 400;
  font-size: 24px;
  width: 260px;
  height: 80px;
  border-radius: 45px 0;
  border: 3px solid var(--border-btn);
  background: var(--btn-background);
  color: var(--button-text-color);
}

.quote {
  background-color: var(--text-header-main);
  padding-top: 76px;
  padding-bottom: 10px;
}

.quote::after {
  content: "";
  display: block;
  width: 400px;
  height: 120px;
  background-image: url("../img/birdarrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}

.quote-title {
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  font-size: 36px;
  width: 724px;
  height: 44px;
  color: var(--phrase-color);
  padding-bottom: 8px;
}

.quote-title-down {
  font-weight: 400;
  font-size: 36px;
  width: 1002px;
  height: 44px;
  color: var(--phrase-color);
  text-align: center;
  margin-bottom: 16px;
}

.quote-text {
  font-weight: 400;
  font-size: 24px;
  width: 151px;
  height: 29px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 8px;
}

.trailer-btn {
  font-family: "Headland One", serif;
  font-weight: 400;
  font-size: 24px;
  border-radius: 45px 0;
  border: 3px solid var(--border-btn);
  background: var(--btn-background);
  color: var(--button-text-color);
  width: 260px;
  height: 80px;
  margin: 0 auto;
  display: block;
}

.quote-second {
  background-color: var(--text-header-main);
  padding-top: 76px;
  padding-bottom: 10px;
}

.quote-second-title {
  font-weight: 400;
  font-size: 36px;
  width: 938px;
  text-align: center;
  margin: 0 auto;
  color: var(--text-language-phrase);
  margin-bottom: 4px;
}

.quote-second-title-down {
  font-weight: 400;
  font-size: 36px;
  width: 812px;
  text-align: center;
  margin: 0 auto;
  color: var(--text-language-phrase);
  margin-bottom: 16px;
}

.quote-second-text {
  font-weight: 400;
  font-size: 24px;
  width: 151px;
  margin-bottom: 8px;
  text-align: center;
  margin: 0 auto;
}

.quote-second:after {
  content: "";
  display: block;
  width: 400px;
  height: 120px;
  background-image: url("../img/birdarrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}

.quote-third {
  background-color: var(--text-header-main);
  padding-top: 75px;
  padding-bottom: 10px;
}

.quote-third-title {
  font-weight: 400;
  font-size: 36px;
  width: 938px;
  text-align: center;
  margin: 0 auto;
  color: var(--text-language-phrase);
  margin-bottom: 4px;
}

.quote-third-title-down {
  width: 812px;
  font-weight: 400;
  font-size: 36px;
  margin: 0 auto;
  text-align: center;
  color: var(--text-language-phrase);
  margin-bottom: 16px;
}

.quote-third-text {
  font-weight: 400;
  font-size: 24px;
  width: 84px;
  text-align: center;
  margin: 0 auto;
}

.quote-third::after {
  content: "";
  display: block;
  width: 400px;
  height: 120px;
  background-image: url("../img/birdarrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}



.language-title {
  font-family: "Headland One", serif;
  font-weight: 400;
  font-size: 32px;
  width: 285px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 48px;

}

.language-item {
  font-weight: 400;
  font-size: 24px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  width: calc((100% - 72px) / 3);
  height: 240px;
  padding: 36px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.language-text-bird::after {
    content:"";
    background-image: url("../img/birdarrow.png");
    width: 152px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.language-text::after {
  content:"";
    background-image: url("../img/arrowblue.png");
    width: 152px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.language-text-right::after {
  content:"";
    background-image: url("../img/arrowblue.png");
    width: 152px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    transform: rotate(180deg);
}


.language-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 36px;
}

.footer-logo {
  padding-top: 76px;
   border-right: 2px solid var(--text-header-main);
   padding-right: 80px;
   

}

.footer-list {
  color: var(--text-header-main);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 padding-left: 80px;
}

.footer-item {
  font-weight: 400;
  font-size: 20px;
 
}

.footer-bottom-link {
  color: var(--text-header-main);
  font-size: 14px;
  font-weight: 400;
}


.hero {
  background-image: url("../img/boyavatar.jpg");
  height: 740px;
  background-size: cover;
  background-position: center;
 padding: 180px 0;
}

.trailer {
  background-image: url("../img/girlavatar.jpg");
  height: 741px;
  background-size: cover;
  background-position: center;
  padding: 330px 0;
}

.header {
  background-image: linear-gradient(#2b4a61de, #2b4a61de),
    url("../img/part.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  border-bottom: 3px solid #FFF;

}
.language {
  background-image: url("../img/world.jpg");
  height: 704px;
  background-size: cover;
  padding: 58px 0;
}

.footer {
  background-image: linear-gradient(#2b4a61de, #2b4a61de),
    url("../img/footerpart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 223px;
}
